{% extends 'pos/base.html' %}
{% block list %}active{%endblock  %}
{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/shopping_list.css' %}">
    <script src="{% static 'javascript/goods_list.js' %}"></script>
    <div class="listinfo">
        <div class="element">
            <p>商品列表</p>
        </div>
        <div class="list">
            <table>
                    <tr>
                        <th>分类</th>
                        <th>名称</th>
                        <th>单价(元)</th>
                        <th>单位</th>
                        <th>   </th>
                    </tr>
                {% for goods_list in goodlists %}
                    <tr>
                        <td>{{ goods_list.type }}</td>
                        <td>{{ goods_list.name }}</td>
                        <td>{{ goods_list.price }}</td>
                        <td>{{ goods_list.unit }}</td>
                        <td><button class="input" id="{{goods_list.id}}" >加入购物车</button></td>
                    </tr>
                 {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}
