{% extends 'pos/base.html' %}
{% block cart %}active{% endblock %}
{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/shopping_cart.css' %}">
    <script src="{% static 'javascript/cart.js' %}"></script>
    <div class="cartinfo">
        <div class="module">
            <p>购物清单</p>
        </div>
        <div class="detail">
            <table>
                <tr>
                    <th>分类</th>
                    <th>名称</th>
                    <th>单价</th>
                    <th>单位</th>
                    <th>数量</th>
                    <th>小计</th>
                </tr>
                {% for itemlist in itemlists %}
                <tr>
                    <td>{{ itemlist.type }}</td>
                    <td>{{ itemlist.name }}</td>
                    <td>{{ itemlist.price }}</td>
                    <td>{{ itemlist.unit }}</td>
                    <td>
                        <div id="math">
                            <button class="left" id="{{ itemlist.goods_id }}"> - </button>
                            <span class="countinfo">{{ itemlist.count }}</span>
                            <button class="right" id="{{ itemlist.goods_id }}"> + </button>
                        </div>
                    </td>
                    <td><span id="subtotal">{{ itemlist.total }}元</span></td>
                </tr>
                {% endfor %}
        </div>
    </div>
{% endblock content %}